[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bitstring = "==4.1.4"
bitarray = "~=2.9.2"
tqdm = "==4.66.3"
PyQt6 = "==6.4.2"
pyqt6-tools = "==6.4.2.3.3"
pyqt5-stubs = "==5.15.6.0"
pyuic5-tool = "==0.0.1"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
